.photo{
    display: flex;
    justify-content: space-around;

}
.form{
    margin: 5px;;
    padding-bottom: 5px;
}
.demo{
    /* height: 100vh; */
}
table tr th{
    border: 1px solid black;
   border-collapse: collapse;
}
.table-title{
    justify-content: center;
}
